@import '../../styles/vars';
@import '../../styles/mixins';

.header-top {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;

  @include onPhone {
    padding: 0;
  }
}

.left {
  display: flex;
  gap: 10px;

  @include onPhone {
    > :nth-child(n + 6) {
      display: none;
    }
  }
}

.link {
  padding: 12px 11px;
  font-family: $fontPrimary;
  font-size: 16px;
  font-weight: $fontWeightSemiBold;
  text-decoration: none;
}

.right-link {
  color: black;

  &:hover {
    color: $cBlueHower;
  }
}

.h-right {
  @include onPhone {
    display: none;
  }

  margin: 0 30px;
}

.link:hover .person-svg path {
  fill: $cBlueHower;
}

.left-link {
  position: relative;
}

.left-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.left-link:hover::after {
  background-color: var(--hover-line);
}