@import url(https://db.onlinewebfonts.com/c/9345e5e7993c4d978ea33f29bc0b0067?family=Globotipo+Web+Bold);

$fontPrimary: 'Globotipo Variable', 'Globotipo', 'Globotipo UI', 'Globotipo Display', 'Globotipo Book', Avenir, Ubuntu, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
$fontSans: "glbOpenSans", "Open Sans", "opensans", "Globotipo Variable", sans-serif;
$fontWeightSemiBold: 600;

$cBlueHower: #1063E0;
$cRedPrimary: #c4170c;
$cRedDark: #A7140C;
$cWhite: #fff;
$cGray: gray;